<h2>Building Plan / {{ roomActive }}</h2>

<div class="row justify-content-center" style="height: 30%;">
  <div class="col-6">
    <app-facility-plan [roomSelected]="roomActive" [roomMeasures]="roomMeasures"></app-facility-plan>
  </div>
  <!--div class="col-5">
    <app-facility-details [roomSelected]="roomActive" [roomMeasures]="roomMeasures[getIndexRoom()]">
    </app-facility-details>
  </div-->
</div>

<app-facility-details [roomSelected]="roomActive" [roomMeasures]="roomMeasures[getIndexRoom()]"></app-facility-details>


